<div class="list-countries">
    <ul>{{#each this}}
        <li class="item-list">
            <div class="flag-img">
                <img src="{{flag}}" alt="flag {{name}}" height="30px">
            </div>
            {{name}}
        </li>
        {{/each}}
    </ul>
</div>